
<!DOCTYPE html>
<html>
<head>
 <link rel="icon" type="image/png" sizes="32x32" href="https://user-images.githubusercontent.com/108769239/177431496-e5398d08-74cb-401d-a0a0-e5695d5d4527.jpg">
 <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
  <meta charset="utf-8">
  <meta name="theme-color" content="#000">
  <meta name="viewport" content="width=device-width, initial-scale=1">
   <link rel="preconnect" href="https://fonts.googleapis.com">
   <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
   <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400&display=swap" rel="stylesheet"> 
  <title>download studio فارسی</title>
</head>
<body>
<nav class="navbar navbar-light bg-light fixed-top">
  <div class="container-fluid" id="divdark">
    <h3 class="navbar-brand" href="#" style="font-family: 'Roboto', sans-serif;">download studio</h3>
    <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar" aria-controls="offcanvasNavbar">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasNavbar" aria-labelledby="offcanvasNavbarLabel">
      <div class="offcanvas-header">
        <h5 class="offcanvas-title" id="offcanvasNavbarLabel">Menu</h5>
        <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
      </div>
      <div class="offcanvas-body">
  <button class="m-1 p-2 btn btn-success" style="cursor: inherit;">app</button>
  <button class="m-1 p-2 btn btn-light" style="cursor: inherit;">games</button>
  <button class="m-1 p-2 btn btn-light" style="cursor: inherit;">update</button>
       <br>
  <button type="button" class="m-1 p-2 btn btn-dark" style="cursor:inherit;" onclick="dark()">background black</button>
  <button type="button" class="p-2 btn btn-light" style="cursor:inherit;" onclick="light()">background white</button>
       
      </div>
    </div>
  </div>
</nav>
<br>
<br>
<br>
 <div style="text-align: center;">
  
 </div>






  <div id="app">
    <div class="row">
          <div class="col-md-8 mx-auto">
          <h1 class="text-center m-3" >Download android app</h1>
          <h2 class="text-center m-3">فارسی</h2>
          <div v-if="bookmark">
         
         
         
         



         <p> </p>
         <hr>
       <div class="div-input-css">
         <input  v-model="msg"  id="myInput" placeholder="search" class="w-1" onkeyup="myFunction()">
         <p>{{  msg  }}</p>
        
       </div>
        <br>
        

      <ul id="myUL">
     <li><a href="whatsapp.html" style="border-radius: 10px 10px 1px 1px;" class="list-group-item list-group-item-action"><img style="width: 80px; border-radius:5px;" src="https://play-lh.googleusercontent.com/bYtqbOcTYOlgc6gqZ2rwb8lptHuwlNE75zYJu6Bn076-hTmvd96HH-6v7S0YUAAJXoJN=w240-h480">پیام رسان واتساپ</a></li>
     <li><a href="telegram.html" class="list-group-item list-group-item-action"><img style="width: 80px; border-radius:5px;" src="https://play-lh.googleusercontent.com/ZU9cSsyIJZo6Oy7HTHiEPwZg0m2Crep-d5ZrfajqtsH-qgUXSqKpNA2FpPDTn-7qA5Q=w240-h480">
پیام رسان  تلگرام
     </a></li>
     <li><a href="instagram.html" class="list-group-item list-group-item-action"><img src="https://play-lh.googleusercontent.com/9RDn3svJQD6yLR19uAJl_KeoqZDXbykuC5jcPKQb127YI-v8i3SIDkj9kHLVYtLeqQ=w240-h480" style="width: 70px; border-radius: 5px;">اینستاگرام</a></li>
     <li><a href="instagramlite.html" class="list-group-item list-group-item-action"><img src="https://play-lh.googleusercontent.com/h9THn4Ou1Qz9_CpTVxtatkF8yZV9YP2T3D6-ZxMvsnV0TbLL_LiVIMmTprcosjq0SPHu=w240-h480" style="width:70px; border-radius:10px;">اینستاگرام لایت</a></li>
     <li><a href="firfox.html" class="list-group-item list-group-item-action"><img src="https://play-lh.googleusercontent.com/l6ftn6BTu7Kfe8OdE4Itrdw5bTRVO3F_mTZH8xDa-FHO4m-lZAXmz5GxkXTMhqcF_y0=w240-h480" style="width:70px; border-radius:10px;">فایرفاکس</a></li>
     <li><a href="shareit.html" class="list-group-item list-group-item-action"><img src="https://play-lh.googleusercontent.com/VaKjVtEoXm0ErtmaHwH5Ni-EpaBoJcTmoY_Bs5JeIOVOQx8z_jBWMaxB6QdYPxX-OA7l=s48" style="width:70px; border-radius: 10px">شریت</a></li>
     <li><a href="whatsappbusiness.html" class="list-group-item list-group-item-action"><img src="https://play-lh.googleusercontent.com/ebs6ftYUkOKlDY0M174OpvargwbDyHUVAnO_G5aE0dL5GBQKCtfh3adN5H3ZMThXogDi=w240-h480" style="width:70px; border-radius:5px;">واتساپ تجاری</a></li>
    <li><a href="googlechrome.html" class="list-group-item list-group-item-action"><img src="https://play-lh.googleusercontent.com/KwUBNPbMTk9jDXYS2AeX3illtVRTkrKVh5xR1Mg4WHd0CG2tV4mrh1z3kXi5z_warlk=w240-h480" style="width:70px; border-radius:5px;">گوگل کروم سریع و امن </a></li>
    <li><a href="microsoftedge.html" class="list-group-item list-group-item-action"><img src="https://play-lh.googleusercontent.com/VYvJqGnrQiKkbbyLyMeiL-GM3go4tBIA64uVEGQazLXD4p_M3F45kHyt42o_6d5VXA=w240-h480" style="width:70px; border-radius:5px;">مایکروسافت مرورگر اج</a></li>
    <li><a  href="opera.html" class="list-group-item list-group-item-action"><img src="https://play-lh.googleusercontent.com/tkwW6uWRyX7Weduiqz8y26b-ks4NTQjtILg50srjSuN1c2UZj3mxpWD2cBme51gp6Q=w240-h480" style="width:70px; border-radius:5px;">مرور گر وب اپرا 
</a></li>
    <li><a href="samsunginternet.html" class="list-group-item list-group-item-action"><img src="https://play-lh.googleusercontent.com/wFAmWrV_t9YT75C6Vbyl1UupslTlq_lm7AcEPamSvWbqumIqKYfTpV_Ro_iC0fAjAQU=w240-h480" style="width:70px; border-radius:5px;">اینترنت سامسونگ</a></li>
    <li><a href="balad.html" class="list-group-item list-group-item-action"> <img src="https://play-lh.googleusercontent.com/1jw56doXjK72pKaXjuE89LpFeGapac52QQdciast0TZR8Amq5FY2P7XfZIiXNVv4l5Q=w240-h480" style="width:70px; border-radius:5px;">بلد </a></li>
    <li><a href="snapp.html" class="list-group-item list-group-item-action" ><img src="https://play-lh.googleusercontent.com/aEFDHK866p7AZUL2pEhRjSfMU6pENdPNRUxKz6cf4mKsk7M2THGRAY9RF_Cbt9mmHwY=w240-h480" style="width:70px; border-radius:5px
    ;">اسنپ</a></li>
     <li><a href="wikipedia.html" class="list-group-item list-group-item-action"><img src="https://play-lh.googleusercontent.com/htBUaqvBQR9UQ3b1-ouSHFhDGttQkH-eWetEErspYXVa8hOsfmOmj5ZanGg9GF7XAGc" style="width:70px; border-radius:5px;">ویکی پدیا</a></li>
    <li><a href="canva.html" class="list-group-item list-group-item-action"><img src="https://play-lh.googleusercontent.com/IFW4S2aa_xgrrj26y4eww8bU99HNmjJeWC2Dx60nBjrww88Zvw9aI3hnN2IDXvUdiPg=w240-h480" style="width:70px; border-radius:5px;">طراحی، عکس و ویدیو</a></li>
     <li><a href="microsoftranslator.html" class="list-group-item list-group-item-action"><img src="https://play-lh.googleusercontent.com/s06AISm1RkzTuie5UJNczrhn22t0_5tjT9sUZIwondVe9tQ53YuK6W2WccbvB7mDzCU=w240-h480" style="width:70px; border-radius:5px;">ترجمه گر مایکروسافت</a></li>
    <li><a href="toonapp.html" class="list-group-item list-group-item-action"><img src="https://play-lh.googleusercontent.com/qvKYxBdUFIK7X2PoKZMTpFfnax3tMZ0UE76YBtZJgynS6o08kQeEVlHN4BViLsI_pFQ=w240-h480" style="width:70px; border-radius:5px;">تبدیل عکس به نقاشی</a></li>
    <li><a href="bit24.html" class="list-group-item list-group-item-action"><img src="https://play-lh.googleusercontent.com/qcZIqieqWKZqjyDlVxIqzBv8VM9fVXb9pk3uE1hQD6gpA_vFCOJDcS0yYHOiXTJ4ctk=w240-h480" style="width:70px; border-radius:5px;">خرید و فروش ارز دیجیتال: بیت کوین بیت ۲۴</a></li>
    <li><a href="investing.com.html" class="list-group-item list-group-item-action"><img src="https://play-lh.googleusercontent.com/z9JU0HsKX2wG7wKo-bOgz-w_lDUiJ4UGTlswTPwTA7Ol0DgsURvIH4KRbrgRG8qWtw=w240-h480" style="width:70px; border-radius:5px;">بیت کوین ارز دیجیتال</a></li>
    <li><a href="#" class="list-group-item list-group-item-action"><img src="https://play-lh.googleusercontent.com/NM5tBLz6tJx3yxdvI3qNVWZALUjtvWm1xxUOX-f2ScFpK3dIX7LwGJNLV0Y2HwDzHCY=s48" style="width:70px; border-radius:5px;">ترجمه مترجم</a></li>
    <li><a href="#" class="list-group-item list-group-item-action"><img src="https://play-lh.googleusercontent.com/5oeaxXbDmvxAT9sVwiu7DVW_OusYlNKZkuLYUF1cNDksUiIWPEXTsXXvxnTdTJ55YKBw=s48" style="width:70px; border-radius:5px;">فیلم از صفحه گوشی   ایکس رکوردر </a></li>
    <li><a href="#" class="list-group-item list-group-item-action"> <img src="https://play-lh.googleusercontent.com/nPnJc260PPoupBe-DcVQ-MNr6149dphdEoEAN-C9xwgctpVXbwsuyon_jEZ3uPWWYQ=w240-h480" style="width:70px; border-radius:5px;">وی ال سی اندروید</a></li>
    <li><a href="#" class="list-group-item list-group-item-action"><img src="https://play-lh.googleusercontent.com/PCpXdqvUWfCW1mXhH1Y_98yBpgsWxuTSTofy3NGMo9yBTATDyzVkqU580bfSln50bFU=w240-h480" style="width:70px; border-radius:5px;">گیت هاب</a></li>
    <li><a href="#" class="list-group-item list-group-item-action"><img src="https://play-lh.googleusercontent.com/vvjvZn0l16nn8j1KfCAbHlBn7wm6la_55pfxGOW9Wg0ut6C51wKVb3DWJTqSJc-eCnA=w240-h480" style="width:70px; border-radius: 5px;">داک داک گو</a></li>
    <li><a href="#" class="list-group-item list-group-item-action"><img src="https://play-lh.googleusercontent.com/Bz9guMJJkS2EoVvBP4Ir168aLQdJPD7TLs54jzrw6bmasEBEbALiU4ITLwh2nOFE2YOB=w240-h480" style="width:70px; border-radius:5px;">برنامه کلیپ ساز این شات</a></li>
    <li><a href="#" class="list-group-item list-group-item-action"><img src="https://play-lh.googleusercontent.com/OWb2vgx8gbhiaQ1JXm401tql0evvmDzdOvVMzXQX1WTKYR8i36kn9qluY2j4muChuw=s48" style="width:70px; border-radius:5px;"> مو شدو ویرایشگر عکس و فیلم</a></li>
    <li><a href="#" class="list-group-item list-group-item-action"><img src="https://play-lh.googleusercontent.com/09LNk6DuVWfvBF13j5BLPP0saregfV8hJYaqQ4nylFH1SkstHcU-n1yqkP3N1XafPXc=w240-h480" style="width:70px; border-radius:5px;">خرید ارز دیجیتال پای بوت</a></li>
    <li><a href="#" class="list-group-item list-group-item-action"><img src="https://play-lh.googleusercontent.com/Zmol9WVk6mjWE38P6wc3Aaz9mQn-VFhviKllLP4kiplfW4xIEjgYmKUalZcFsOOnDQ=s48" style="width:70px; border-radius:5px;">
تلگرام ایکس
    </a></li>
    <li><a href="gbWhatsapp.html" class="list-group-item list-group-item-action"><img src="https://androidapksfree.com/wp-content/uploads/2017/03/gbwhatsapp-apk-85x85.png" style="width:70px; border-radius:5px;">واتساپ جی بی</a></li>
    <li><a href="#" class="list-group-item list-group-item-action"><img src="https://play-lh.googleusercontent.com/CxWaYZ_2ZkJ12W0f4A2Z6pvNksmyITZgj3Rl-RTYE6UVJyG7xH1-_YjBxM21MkPkqhg=w240-h480" style="width:70px; border-radius:5px;">دیوار</a></li>
     <li><a href="#" class="list-group-item list-group-item-action"><img src="https://play-lh.googleusercontent.com/4bwCchtw-smim1ea5_HK5fAlDrw4P3HX-SrchF0EkBhk860VPVA48QBKmyE_M0XAD7CV=w240-h480" style="width:70px; border-radius:5px;">صرافی ارزهای دیجیتال</a></li>
    <li><a href="#" class="list-group-item list-group-item-action"><img src="https://play-lh.googleusercontent.com/k1_nNCX9zGfY3slHv_qmhmySwv8MDskIG1zP3t0ZgqNAr6ZU81puuYZ7ycOxcsjXHoM=w240-h480" style="width:70px; border-radius:5px;"> بیت کوین کریپتو ارز دیجیتال</a></li>
     <li><a href="#" class="list-group-item list-group-item-action"><img src="https://play-lh.googleusercontent.com/UnS9ktkcqFjEDNhBZwrapMA_i7t1AlKJuvRVM3D7Arworcd4JOqLe8Fz8ZDcsPvQoLw=s48" style="width:70px; border-radius:5px;">بیت کوین ارز دیجیتال</a></li>
    <li><a href="#" class="list-group-item list-group-item-action"><img src="https://play-lh.googleusercontent.com/ZfcrP3bgiRW3Yx1lyFY0SgD65K3bRGzkcjSnr9g2-wSlKDCmqTsZSaFMtDWxKM5vSMN6=w240-h480" style="width:70px; border-radius:5px;">شدوساکس فیلتر شکن</a></li>
    <li><a href="#" class="list-group-item list-group-item-action"><img src="https://play-lh.googleusercontent.com/sLCR5zrxTjAa6G3mlv0QcKVRDY8hqkbMGuhJ4EXX3-zp4xcG5655rNKu7fneVVDRjM-z=w240-h480" style="width:70px; border-radius:5px;">دانلود از اینستاگرام</a></li>
    <li><a href="#" class="list-group-item list-group-item-action"><img src="https://play-lh.googleusercontent.com/79xkMebt1Ac6vmgynC__M_u4Qe18dQCfq9jKAXG_HI4gto8faXDqfdBaPxgZfkm3EyM=w240-h480" style="width:70px; border-radius:5px;">شیپور</a></li>
    <li><a href="#" class="list-group-item list-group-item-action"><img src="https://play-lh.googleusercontent.com/KSuaRLiI_FlDP8cM4MzJ23ml3og5Hxb9AapaGTMZ2GgR103mvJ3AAnoOFz1yheeQBBI=w240-h480" style="width:70px; border-radius:5px;">جیمیل ایمیل</a></li>
    <li><a href="#" class="list-group-item list-group-item-action"><img src="https://play-lh.googleusercontent.com/MaRCSacmqLlbSST5m_sJUb_tE9pTresHYgwpd4gInpcj_NVGbjLCnTe96Yx5zz893bA=w240-h480" style="width:70px; border-radius:5px;">ایمیل سامسونگ</a></li>
    <li><a href="#" class="list-group-item list-group-item-action"><img src="https://play-lh.googleusercontent.com/Zk9elS0eGXDr0L4W6-Ey7YwHbRNjkyezHC8iCc8rWp64lNIjlByS8TDF9qDSZbiEWY4=w240-h480" style="width:70px; border-radius:5px;">مایکروسافت اوت لوک ایمیل</a></li>
    <li><a href="#" class="list-group-item list-group-item-action"><img src="https://play-lh.googleusercontent.com/jKU64njy8urP89V1O63eJxMtvWjDGETPlHVIhDv9WZAYzsSxRWyWZkUlBJZj_HbkHA=w240-h480" style="width:70px; border-radius:5px;">مایکروسافت تیم ها</a></li>
    <li><a href="#" class="list-group-item list-group-item-action"><img src="https://play-lh.googleusercontent.com/RZ5luCUwc5QtJP9xDn-ZCwEutT160GVyoh5K1eu4YJ5fD7v4LP5ptVdgR9mz4Hnr7A=w240-h480" style="width:70px; border-radius:5px;">گوگل گو</a></li>
    <li><a href="#" class="list-group-item list-group-item-action"><img src="https://play-lh.googleusercontent.com/61gd-t3cs_YxJxsXqy_dwfDj8tOtTwU_0uFtwJhZ5EHr9OTEzAmZ0O2eDnIGBboGi-M=s48" style="width:70px; border-radius:5px;">انتی ویروس قوی اندروید</a></li>
    <li><a href="#" class="list-group-item list-group-item-action"><img src="https://play-lh.googleusercontent.com/B5tim5e5St40RgE5FpMhLGdl82QYWfYtrRbBvaIB6hhcXzTlgQtDi9IEkieHSazNunxo=w240-h480" style="width:70px; border-radius:5px;">فیلتر شکن نت وی پی ان</a></li>
    <li><a href="#" class="list-group-item list-group-item-action"><img src="https://play-lh.googleusercontent.com/HEwxD0-1-oZ9Pz9nrJRDw_L8zZkFgbWxxI0RD5ou1Aflli-lCqVnFNhTZDLKJIkFwEY=s48" style="width:70px; border-radius:5px;">لا وی پی ان فیلتر شکن</a></li>
    <li><a href="#" class="list-group-item list-group-item-action"><img src="https://play-lh.googleusercontent.com/pDQbF_lf2Dp4gofhwiTcHqMBzvrzUfGb_Rk7_Q6eGFLVC__D5vL4Jr1yBS71Zl4R645J=w240-h480" style="width:70px; border-radius:5px;">وی پی ان یونیک فیلتر شکن</a></li>
    <li><a href="#" class="list-group-item list-group-item-action"><img src="https://play-lh.googleusercontent.com/kcodBqqi8e3RzswW1DQDpIm30JmIvHTl60cI5kOv0wPXBROTsvr-GpucfEKvc0ArnLE=w240-h480" style="width:70px; border-radius:5px;">ارگو وی پی ان فیلتر شکن</a></li>
     <li><a href="#" class="list-group-item list-group-item-action"><img src="https://play-lh.googleusercontent.com/fZu7taBkSXM_-HUB3tfaGegI13it4gHth-mBh6Ui9o_sr-DeHUIip8s7xkDm1SXQ19M=w240-h480" style="width:70px; border-radius:5px;">فیلتر شکن قوی امریکا</a></li>
    <li><a href="#" class="list-group-item list-group-item-action"><img src="https://play-lh.googleusercontent.com/GoOtsyCDu-a2Q1FBgZCvEz3mMrp8MOOjtGm3hYhD8IT9TsiJwB8cVMedgOET9xOQQ58=w240-h480" style="width:70px; border-radius:5px;">پخش کننده موسیقی</a></li>
    <li><a href="#" class="list-group-item list-group-item-action"><img src="https://play-lh.googleusercontent.com/KxeSAjPTKliCErbivNiXrd6cTwfbqUJcbSRPe_IBVK_YmwckfMRS1VIHz-5cgT09yMo=w240-h480" style="width:70px; border-radius:5px;">اسنپ چت</a></li>
    <li><a href="#" class="list-group-item list-group-item-action"><img src="https://play-lh.googleusercontent.com/Liq3k2QdmP75UuXU_7B2VFZZ9HJLc4BAkbTzHoePg6-d6ZSU7VYdbhFfYOknjzzq2j4=w240-h480" style="width:70px; border-radius:5px;">نشان نقشه ومسیریاب فارسی</a></li>
    <li><a href="#" class="list-group-item list-group-item-action"><img src="https://play-lh.googleusercontent.com/SrgQhwJ36jDAf_UieD1k_TV_iJGRAVL02NdqMCyI-W8chasBsBeSopGFfPw5z7inoIXY=w240-h480" style="width:70px; border-radius:5px;">مای ایرانس</a></li>
    <li><a href="#" class="list-group-item list-group-item-action"><img src="https://play-lh.googleusercontent.com/7ckFen7wvqvCDrqiV5lCqjMiY8Y7pZbjw8fcwVbodC5J8GGRO3awCBsKNju1sAVeqAeI=s48" style="width:70px; border-radius:5px;">اپ</a></li>
    <li><a href="#" class="list-group-item list-group-item-action"><img src="https://play-lh.googleusercontent.com/JhzTzFcKsBsC3NAzkH8dmUck84wxTPjH5pJyhq_Rm00-UULX7OQr1Hkh8JeTHVGiIDU=w240-h480" style="width:70px; border-radius:5px;">دیجیکالا فروشگاه خرید آنلاین</a></li>
    <li><a href="#" class="list-group-item list-group-item-action"><img src="https://play-lh.googleusercontent.com/PE5NhL_VgV27IkwGiWIXzN31T2nI2tF9hvcBYtoBQUtiay5cfkuyIHVzGJIIQf-lyZo=w240-h480" style="width:70px; border-radius:5px;">تلگرام طلایی</a></li>
    <li><a href="#" class="list-group-item list-group-item-action"><img src="https://play-lh.googleusercontent.com/mszyVlKpNO-bQf7lNabA8wDJPJyNkM0oJlJkttTU1n0eNCbWv4XlYZ60DFAiWvsZLjc=w240-h480" style="width:70px; border-radius:5px;">تلوبیون</a></li>
    <li><a href="#" class="list-group-item list-group-item-action"><img src="https://play-lh.googleusercontent.com/TBRwjS_qfJCSj1m7zZB93FnpJM5fSpMA_wUlFDLxWAb45T9RmwBvQd5cWR5viJJOhkI=s48" style="width:70px; border-radius:5px;">نتفلیکس</a></li>
    <li><a href="#" class="list-group-item list-group-item-action"><img src="https://play-lh.googleusercontent.com/Vee8sq_MaVZO9kvdqeo_c89r_l94Eth8WHdQS8SorRSigfeJ2CaA5h0iNXEt1I8GssQ=w240-h480" style="width:70px; border-radius:5px;">هالیوود</a></li>
    <li><a href="#" class="list-group-item list-group-item-action"><img src="https://play-lh.googleusercontent.com/3eRxtWMCBbxTe5bxIcNWB4emRduRafLFXCGz4hlZT1P5RrKqP8V6pf5UAItFaZPkDw=w240-h480" style="width:70px; border-radius:5px;">همراه کارت</a></li>
    <li><a href="#" class="list-group-item list-group-item-action"><img src="https://play-lh.googleusercontent.com/0oKVc23bR7thrpvWt9EGMlBauWyM-zQDaE2xtY8dZ4r1mdqqUJm5jFPyIHd0ZZ-4Cw=s48" style="width:70px; border-radius:5px;">سایفون فیلتر شکن</a></li>
    <li><a href="#" class="list-group-item list-group-item-action"><img src="https://play-lh.googleusercontent.com/FzmJpYoMO0qrYU44KpAGv0Eosnx_AHROuaUcVWUjMjnx0QB5jyokPX25qmWALh0CSGM=s48" style="width:70px; border-radius:5px;">ترب</a></li>
    <li><a href="#" class="list-group-item list-group-item-action"><img src="https://play-lh.googleusercontent.com/B1ZyLqecayagX3dNJeg9f0tUS2HF4mwYWuLvVn9TBStQ3N-kgxoecN00INSaEgzoCSQ=s48" style="width:70px; border-radius:5px;">عکس استادیو</a></li>
    <li><a href="#" class="list-group-item list-group-item-action"><img src="https://play-lh.googleusercontent.com/HWe6HVrDRYtj7fLT7_M2dd4UVaETAIVy2gJVql8AUkawQ_w1ZZLavbCxQ5tORbmQFZIx=w240-h480" style="width:70px; border-radius:5px;">تقویم فارسی</a></li>
    <li><a href="#" class="list-group-item list-group-item-action"><img src="https://play-lh.googleusercontent.com/3h9q6PWEpWJ9MwmkiYpQKyfWuTiiQHJZI3ntzzH8wLzmMJF1B_Z83xQAFNxgbPC54g=w240-h480" style="width:70px; border-radius:5px;">فایرفاکس برای اندروید بتا</a></li>
    <li><a href="#" class="list-group-item list-group-item-action"><img src="https://play-lh.googleusercontent.com/yssuOUUgzoiZve-NfSvkykhAP9QbnFEL-NfLNHmTjnAcLCMnEpZsvwg1brdSuRZrqg=w240-h480" style="width:70px; border-radius:5px;">فایرفاکس امن</a></li>
    <li><a href="#" class="list-group-item list-group-item-action"><img src="https://play-lh.googleusercontent.com/naHH4PUu-f4mPh53lm6nbxr8TD2RUsfHu_ZiD6oO3q6zPtDZi6YW0p20RpjAft1kFeTA=w240-h480" style="width:70px; border-radius:5px;">مرور گر مایکروسافت اج اندروید</a></li>
    <li><a href="#" class="list-group-item list-group-item-action"><img src="https://play-lh.googleusercontent.com/F3g--X2roFmKT3CbyWGzq3I3KlI_KyISlVD_gzU8OZVJw0g5WjOQ3LMAX_udGCmBnng=w240-h480" style="width:70px; border-radius:5px;">عضلات شکم</a></li>
    <li><a href="#" class="list-group-item list-group-item-action"><img src="https://play-lh.googleusercontent.com/V6LuVHJV77oba6sEaGP7802wmBMbH50cxUuyb88baz_6ZBfz9-1oo3V46BpQ4iwHmls=w240-h480" style="width:70px; border-radius:5px;">کاهش وزن در خانه</a></li>
    <li><a href="#" class="list-group-item list-group-item-action"><img src="https://play-lh.googleusercontent.com/3Wr_nlhRHjIGfPd-BNUbgffLfxPPqNW8GFPscqnQ4t2aPRyKlFMuXT4yhb-PSMsHgss=w240-h480" style="width:70px; border-radius:5px;">مایکروسافت وان نوت</a></li>
    <li><a href="#" class="list-group-item list-group-item-action"><img src="https://play-lh.googleusercontent.com/IUlK7i_wnh5T7RhKWJ3-8yZpWdmbgR71a65wO6jv6WTleNg6X9NUo5O6sBmujTu691Q=w240-h480" style="width:70px; border-radius:5px;">پس زمینه های تیره</a></li>
    <li><a href="#" class="list-group-item list-group-item-action"><img src="https://play-lh.googleusercontent.com/E06UXua_-gJBGozqCa87TPlAGf75S0uXSvp741KBNp1x9UjnKCrGbPMgXGlmn5mJh8E=w240-h480" style="width:70px; border-radius:5px;">تصویر زمینه زنده و پس زمینه</a></li>
   <li><a href="#" class="list-group-item list-group-item-action"><img src="https://play-lh.googleusercontent.com/TIsuoJZ8V7L59k5H0PrD0evk_eVU7iexZOYcgeAdQRUdXfq6dFOteC9B-sDkIu1cksXQ=w240-h480" style="width:70px; border-radius:5px;">مایکروسافت لانچر</a></li>
    <li><a href="#" class="list-group-item list-group-item-action"><img src="https://play-lh.googleusercontent.com/2Kl7m7sTnkIA9j-dHoqfgLt46gjpps0OcPEoeAtwPL7EtfMW9lCidFPj7j1_AsSXUQA=w240-h480" style="width:70px; border-radius:5px;">لانچر ایفون</a></li>
    <li><a href="#" class="list-group-item list-group-item-action"><img src="https://play-lh.googleusercontent.com/DJyCcYNTg5f25HgTGKJmPB9vqfpvBYawloemye-Y4jUNrL_Awp0TXW6xDaXB6-vkfjUe=w240-h480" style="width:70px; border-radius:5px;"> لانچر پوکو شیایمی</a></li>
    <li><a href="#" class="list-group-item list-group-item-action" style="border-radius: 1px 1px 10px 10px;"><img src="https://play-lh.googleusercontent.com/_nZssYCw6f8XAkyTg8fxgc77H4ndYNrycZFyYdG8dE0SWr9hYFOWlerJwWTEBHw0tE8e=w240-h480" style="width:70px; border-radius:5px;">لانچر اس ۲۲</a></li>
      </ul>
       
     </div>
     <div v-else>
     <div class="alert alert-danger">Nothing</div>
    </div>
    </div>

  </div>

  </div>
 
 <style src="index.css">
*{
margin: 0;
padding: 0;

}
#myInput {
 width: 80%;
}

#myUL {
  /* Remove default list styling */
  list-style-type: none;
  padding: 0;
  margin: 0;
  padding: 20px 10px;
}

#myUL li a {
  border: 1px solid #ddd; /* Add a border to all links */
  margin-top: -1px; /* Prevent double borders */
  background-color: #fff;
 /* Grey background color */
  padding: 10px; /* Add some padding */
  text-decoration: none; /* Remove default text underline */
  font-size: 16px; /* Increase the font-size */
  color: black; /* Add a black text color */
  display: block; /* Make it into a block element to fill the whole list */
  cursor: inherit;
}

#myUL li a:hover:not(.header) {
  background-color: #f6f6f6;
  transition: .1s;
  cursor: inherit;
   /* Add a hover effect to all links, except for headers */
}

.div-input-css{
text-align: center;

}
::selection{
background: #18978F;
}
 </style>


 <script src="search.js">
  function myFunction() {
  // Declare variables
  var input, filter, ul, li, a, i, txtValue;
  input = document.getElementById('myInput');
  filter = input.value.toUpperCase();
  ul = document.getElementById("myUL");
  li = ul.getElementsByTagName('li');

  // Loop through all list items, and hide those who don't match the search query
  for (i = 0; i < li.length; i++) {
    a = li[i].getElementsByTagName("a")[0];
    txtValue = a.textContent || a.innerText;
    if (txtValue.toUpperCase().indexOf(filter) > -1) {
      li[i].style.display = "";
    } else {
      li[i].style.display = "none";
    }
  }
}</script>

<script>
function dark() {
  const myNav = document.querySelectorAll("nav")
  const myNodelist = document.querySelectorAll("body");
  const myNode = document.querySelectorAll("a");
  for (let i = 0; i < myNodelist.length; i++) {
    myNodelist[i].style.background = "#1b1b1b";
    myNodelist[i].style.color = "#fff";
    }
    for (let i = 0; i < myNode.length; i++) {
     myNode[i].style.background = "#3E3D3D";
     myNode[i].style.color = "#fff";

    }
    for (let i = 0; i < myNav.length; i++) {
     myNav[i].style.background = "#";
     myNav[i].style.color = "#000";
    }
}
function light() {
  const myNodelist = document.querySelectorAll("body");
  const myNode = document.querySelectorAll("a");
  for (let i = 0; i < myNodelist.length; i++) {
    myNodelist[i].style.background = "#fff";
    myNodelist[i].style.color = "#000";
    }
    for (let i = 0; i < myNode.length; i++) {
     myNode[i].style.background = "#fff";
     myNode[i].style.color = "#000";

    }
    
}
</script>

  <script src="https://unpkg.com/vue@next"></script>

    <script>
const app = Vue.createApp({
  data() {
       return {
        msg: "",
        
        bookmark: true,

     }
   },
  

   
  
  
}).mount("#app")



    </script>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>


</body>
</html>
